[package]
name = "trimmean-plugin"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
rust_decimal = "1.38.0"
udf = { version = "0.5.5", features = ["mock"] }
